@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';


.content {
    display: grid;
    grid-template-columns: 50% 50%;
}

.avocado-card {
    width: 100%;
    display: flex;
    align-items: center;
}

.title-text {
    display: grid;
    font-size: 2rem;
}

.price-text {
    font-size: 1rem;
    display: grid;
}